<form novalidate [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
  <div class="p-4">
    <label for="email">Email: </label>
    <input type="email" id="email" formControlName="email" />

    @if (loginFormGroup.controls.email.invalid) {
    <small class="text-error text text-red-500">Email is required.</small>
    } @if (loginFormGroup.controls.email.hasError('email')) {
    <small class="text-error text text-red-500">Please enter a valid email address.</small>
    }
  </div>

  <div class="p-4">
    <label for="password">Password: </label>
    <input type="password" id="password" formControlName="password" />
    @if (loginFormGroup.controls.password.invalid) {
    <small class="text-error text text-red-500"
      >Password is required and must be at least 6 characters long.</small
    >
    }
  </div>

  <button
    class="p-4 bg-blue-500 text-white px-4 rounded-full"
    type="submit"
    [disabled]="loginFormGroup.invalid"
    >Submit</button
  >
</form>
